body {
    background-color: #F7E4D4;
}

body > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    margin-bottom: 15px;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 48px;
    font-weight: 400;
    color: #467745;
}

input[type="text"] {
    display: block;
    width: 480px;
    height: 64px;
    padding-left: 17px;
    margin-bottom: 20px;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #467745;
}

input[type="text"]::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #467745;
}

textarea {
    display: block;
    width: 480px;
    height: 120px;
    padding-top: 17px;
    padding-left: 17px;
    margin-bottom: 26px;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #467745;
}

textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #467745;
}

form > div {
    display: flex;
    position: relative;
    margin-bottom: 34px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
}

/* When the checkbox is checked, add a background */
.container input:checked ~ .checkmark {
    background-color: #467745;
  }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

p {
    margin-left: 36px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #467745;
}

p a {
    text-decoration: underline;
}

button {
    display: block;
    left: 50%;
    width: 280px;
    height: 80px;
    border-radius: 40px;
    background-color: #467745;
    font-family: 'EB Garamond', serif;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #F7E4D4;
}

/* media query for mobile device smaller than 520px width */
@media screen and (max-width: 519px) {
    h1 {
        font-size: 36px;
        text-align: left;
    }

    form > div {
        margin-left: 20px;
        width: calc(100% - 40px);
    }

    input[type="text"] {
        width: calc(100% - 40px);
        margin-left: 20px;
    }
    
    textarea {
        width: calc(100% - 40px);
        margin-left: 20px;
    }
    
    .checkmark {
        top: 9px;
    }
}